@CHARSET "ISO-8859-1";

/* Main Page Elements */
#header {
	position: fixed;
	background: #ca3535;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;	
}

#topNav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	font-weight: bold;
}

#UsersNameBox {
	margin: 0px;
	color: white;
	position: fixed;
	top:0px;
	right: 1%;
}

#loginBtn {
	position: fixed;
	right: 1%;
}
#sigunupBtn {
	position: fixed;
	right: 1%;
}
/* Login Div Section */
#login {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2)
}

#loginBox {
	position: relative;
	top: 20%;
	left: 35%;
	width: 300px;
	height: 300px;
	background: white;
	color: grey;
}

#loginForm label {
	text-align: left;
}
/* Signup Div Section */
#signup {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2)
}
#signupBox {
	position: relative;
	top: 20%;
	left: 35%;
	width: 400px;
	height: 400px;
	background: white;
	color: grey;
}
#signupForm {
	position:relative;
	top: 5px;
	left: 15px;
}
#signupForm label {
	text-align: left;
}
#signupForm .fname {
	position:relative;
	left: 2px;
	border: 1px inset grey;
	background: #ffffc6;
	width: 200px;
}
#signupForm .lname {
	position:relative;
	left: 2px;
	border: 1px inset grey;
	background: #ffffc6;
	width: 200px;
}
#signupForm .pass {
	position:relative;
	left: 2px;
	border: 1px inset grey;
	background: #ffffc6;
	width: 200px;
}
#signupForm .emails {
	position:relative;
	left: 2px;
	border: 1px inset grey;
	background: #ffffc6;
	width: 200px;
}
.bigGrey {
	font-size: 30px;
}

#loginForm {
	position:relative;
	top: 5px;
	left: 15px;
}
.exitlogin {
	width: auto;
	height: auto;
	border: 1px solid grey;
	color:grey;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
.exitlogin:hover {
	background-color: #ca3535;
	color: white;
}
.loginBtn {
	width: auto;
	height: auto;
	border: 1px solid grey;
	color:grey;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
.loginBtn:hover {
	background-color: #ca3535;
	color: white;
}


.inputBox {
	position:relative;
	left: 2px;
	border: 1px inset grey;
	background: #ffffc6;
	width: 200px;
}

/* Flat Button */
.button {
	width: auto;
	height: auto;
	height: auto;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	padding: 7px;
}
.button:hover {
	background-color: white;
	color: black;
}
