#btn1 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #db4a07;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

#btn1:hover {
  background: #919493;
  text-decoration: none;
}
#btn2 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #db4a07;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

#btn2:hover {
  background: #919493;
  text-decoration: none;
}
#btn3 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #db4a07;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

#btn3:hover {
  background: #919493;
  text-decoration: none;
}