@CHARSET "ISO-8859-1";

/* Main Page Elements */
#header {
	position: fixed;
	background: #ca3535;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;	
}

#topNav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	font-weight: bold;
}

#UsersNameBox {
	margin: 0px;
	color: white;
	position: fixed;
	top:0px;
	right: 1%;
}

#loginBtn {
	position: fixed;
	right: 1%;
}

#sideMenu {
	position: fixed;
	width: 110px;
	height: 100%;
	color: black;
	top: 70px;
	left: 0px;
	border-right: 1px solid black;
	margin: 0px;
}

#main {
	position: fixed;
	/* top and left should be sized under header and to the left of sideMenu */
	top: 70px;
	left: 115px;
	color: black;
}

/* Login Div Section */
#login {
	position: fixed;
	visibility: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2)
}

#loginBox {
	position: relative;
	top: 30%;
	left: 30%;
	width: 300px;
	height: 200px;
	border-radius: 15px;
	background: white;
	color: grey;
}

.bigGrey {
	font-size: 30px;
}

#loginForm {
	position:relative;
	top: 5px;
	left: 15px;
}

.loginBtn {
	width: auto;
	height: auto;
	border: 1px solid grey;
	color:grey;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
.loginBtn:hover {
	background-color: #ca3535;
	color: white;
}

#loginForm td:empty {
	width: 20px;
}

.inputBox {
	position:relative;
	left: 12px;
	border: 1px inset grey;
	background: #ffffc6;
	width: 200px;
}

/* Flat Button */
.button {
	width: auto;
	height: auto;
	height: auto;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	padding: 7px;
}
.button:hover {
	background-color: white;
	color: black;
}



/* Round Buttons */
.round-button {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}
.round-button:hover {
    background: #262626;
}
.round-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}